<%-include('./shared/link')%>
<link rel="stylesheet" type="text/css" href="/styles/about_styles.css">
<link rel="stylesheet" type="text/css" href="styles/about_responsive.css">
</head>

<body>
    <div class="super_container">
        <%-include('./shared/header')%>
        <div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/about_background.jpg"></div>
			<div class="home_content">
				<div class="home_title">about us</div>
			</div>
        </div>

        <div class="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="intro_image"><img src="images/intro.png" alt=""></div>
					</div>
					<div class="col-lg-5">
						<div class="intro_content">
							<div class="intro_title">we have the best tours</div>
							<p class="intro_text">Fantastic holidays is one of the main travel arrangement suppliers, which offers unique or redid visit bundles. With experience of numerous years in travel and cordiality, we have done amazingly well in giving tourists the best experience.

Our group is a bunch of equipped and energetic visit administrators and aides who will flank around with you to ensure everything happens according to the arranged calendar. We offer altered travel alternatives and arrange and execute your complete visit. Since we adore our employment, we ensure you back again for additional!

Our multipurpose administrations get to be usual to your necessities as we ensure that you appreciate this grasping destination and run home with most vivid recollections.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="add">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="add_container">
							<div class="add_background" style="background-image:url(images/add.jpg)"></div>
							<div class="add_content">
								<h1 class="add_title">Andaman Island</h1>
								<!--<div class="add_subtitle">From <span>Rs. 1999</span></div>-->
								<div class="button add_button"><div class="button_bcg"></div><a href="/offers">explore now<span></span><span></span><span></span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="milestones">
			<div class="container">
				<div class="row">
					
					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_1.png" alt=""></div>
							<div class="milestone_counter" data-end-value="255">0</div>
							<div class="milestone_text">Clients</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_2.png" alt=""></div>
							<div class="milestone_counter" data-end-value="1176">0</div>
							<div class="milestone_text">Travellers</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_3.png" alt=""></div>
							<div class="milestone_counter" data-end-value="39">0</div>
							<div class="milestone_text">Countries</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_4.png" alt=""></div>
							<div class="milestone_counter" data-end-value="127">0</div>
							<div class="milestone_text">Locations</div>
						</div>
					</div>

				</div>
			</div>
		</div>
    <%-include('./shared/footer')%>
	</div>
<%-include('./shared/script')%>
<script src="/js/about_custom.js"></script>
</body>

</html>