<%-include('./shared/link')%>

<link rel="stylesheet" type="text/css" href="styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="styles/offers_responsive.css">
</head>

<body>

<div class="super_container">

        <%-include('./shared/header')%>

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/blog_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">our offers</div>
		</div>
	</div>

    <div class="container">
        Gallery content will go over here
    </div>


    <%-include('./shared/footer')%>
</div>

<%-include('./shared/script')%>
<script src="js/offers_custom.js"></script>
