<ul class="main_nav_list">
    <li class="main_nav_item"><a href="/">home</a></li>
    <li class="main_nav_item"><a href="/about">about us</a></li>
    <li class="main_nav_item"><a href="/offers">offers</a></li>
    <li class="main_nav_item"><a href="/blog">news</a></li>
    <li class="main_nav_item"><a href="/contact">contact</a></li>
</ul>