@charset "utf-8";
@media only screen and (max-width:1199px) {
	.intro_image {
		position: relative;
		top: -13px
	}
	.intro_image img {
		width: 100%
	}
	.footer_blog_content {
		padding-left: 74px
	}
}

@media only screen and (max-width:991px) {
	.main_nav_container {
		display: none
	}
	.footer_nav_item, .hamburger {
		display: block
	}
	.hamburger {
		position: absolute;
		right: 1.5em;
		top: 1.4em
	}
	.intro {
		padding-top: 71px
	}
	.intro_image {
		position: relative;
		right: auto;
		top: auto
	}
	.intro_content {
		margin-top: 30px
	}
	.add_content {
		padding-left: 71px
	}
	.milestone_col {
		margin-bottom: 60px
	}
	.milestone_col:last-child {
		margin-bottom: 0
	}
	.footer_column {
		margin-bottom: 60px
	}
	.footer_column:last-child {
		margin-bottom: 0
	}
	.copyright {
		padding-top: 30px;
		padding-bottom: 30px
	}
	.copyright_content {
		height: auto;
		margin-top: 15px
	}
	.footer_nav_container {
		height: auto
	}
}

@media only screen and (max-width:768px) {
	.home_title {
		font-size: 48px
	}
	.stats_years {
		padding-left: 107px
	}
	.stats_years_last {
		display: none!important
	}
	.stats_years_new {
		float: left!important
	}
	.stats_bar {
		width: 100%
	}
	.stats_new {
		padding-right: 0;
		padding-left: 40px;
		width: 40px;
		-webkit-transform: translateY(14px);
		-moz-transform: translateY(14px);
		-ms-transform: translateY(14px);
		-o-transform: translateY(14px);
		transform: translateY(15px)
	}
	.stats_new_icon {
		right: auto;
		left: 0;
		width: 40px
	}
	.stats_new_content {
		margin-left: 10px
	}
	.stats_last {
		display: none
	}
	.intro_image {
		position: relative;
		right: auto;
		top: auto
	}
}

@media only screen and (max-width:575px) {
	p {
		font-size: 13px
	}
	h1 {
		font-size: 28px
	}
	.top_bar {
		display: none
	}
	.button {
		height: 44px;
		border-radius: 22px
	}
	.button a {
		line-height: 44px;
		padding-left: 36px;
		padding-right: 36px
	}
	.stats_contents, .stats_text {
		padding-left: 0;
		padding-right: 0
	}
	.header.scrolled .main_nav_col, .main_nav_col {
		height: 60px
	}
	.logo_container {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none
	}
	.content_search, .header.scrolled .content_search {
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px)
	}
	.hamburger {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none
	}
	.logo a {
		font-size: 16px
	}
	.hamburger i {
		font-size: 18px
	}
	.content_search svg {
		width: 15px;
		height: 15px
	}
	.menu_close_container {
		top: 15px;
		right: 28px
	}
	.menu_logo {
		margin-bottom: 17px
	}
	.menu_logo a img {
		width: 28px!important
	}
	.menu_item a {
		font-size: 24px
	}
	.section_title {
		font-size: 21px
	}
	.home {
		width: 100%;
		height: 375px;
		background: 0 0
	}
	.home_title {
		font-size: 24px
	}
	.intro_title {
		font-size: 21px
	}
	.intro_text {
		margin-top: 45px
	}
	.stats_years {
		float: none!important;
		padding-left: 0
	}
	.stats_number {
		font-size: 18px
	}
	.stats_type {
		font-size: 12px
	}
	.add_content {
		padding-left: 40px
	}
	.footer_about_text {
		font-size: 13px
	}
	.intro_image {
		position: relative;
		right: auto;
		top: auto
	}
}

@media only screen and (max-width:479px) {
	h2 {
		font-size: 24px
	}
	p {
		font-size: 13px
	}
	.milestone_counter {
		font-size: 36px
	}
	.intro_image {
		position: relative;
		right: auto;
		top: auto
	}
}

@media only screen and (max-width:400px) {
	.intro_image {
		position: relative!important;
		right: auto;
		top: auto
	}
}