@charset "utf-8";
@media only screen and (max-width:1199px) {
	.footer_blog_content {
		padding-left: 74px
	}
}

@media only screen and (max-width:991px) {
	.main_nav_container {
		display: none
	}
	.footer_nav_item, .hamburger {
		display: block
	}
	.hamburger {
		position: absolute;
		right: 1.5em;
		top: 1.4em
	}
	.sidebar_col {
		margin-top: 105px
	}
	.footer_column {
		margin-bottom: 60px
	}
	.footer_column:last-child {
		margin-bottom: 0
	}
	.copyright {
		padding-top: 30px;
		padding-bottom: 30px
	}
	.copyright_content {
		height: auto;
		margin-top: 15px
	}
	.footer_nav_container {
		height: auto
	}
}

@media only screen and (max-width:768px) {
	.home_title {
		font-size: 48px
	}
}

@media only screen and (max-width:575px) {
	p {
		font-size: 13px
	}
	h1 {
		font-size: 28px
	}
	.top_bar {
		display: none
	}
	.button {
		height: 44px;
		border-radius: 22px
	}
	.button a {
		line-height: 44px;
		padding-left: 36px;
		padding-right: 36px
	}
	.header.scrolled .main_nav_col, .main_nav_col {
		height: 60px
	}
	.logo_container {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none
	}
	.content_search, .header.scrolled .content_search {
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px)
	}
	.hamburger {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none
	}
	.logo a {
		font-size: 16px
	}
	.hamburger i {
		font-size: 18px
	}
	.content_search svg {
		width: 15px;
		height: 15px
	}
	.menu_close_container {
		top: 15px;
		right: 28px
	}
	.menu_logo {
		margin-bottom: 17px
	}
	.menu_logo a img {
		width: 28px!important
	}
	.menu_item a {
		font-size: 24px
	}
	.section_title {
		font-size: 21px
	}
	.blog_post_day, .home_title {
		font-size: 24px
	}
	.home {
		width: 100%;
		height: 375px;
		background: 0 0
	}
	.blog_post_date {
		top: 15px;
		left: 15px;
		width: 85px;
		height: 55px
	}
	.blog_post_month {
		font-size: 10px;
		margin-top: 1px
	}
	.blog_post_meta_item a {
		font-size: 10px
	}
	.blog_post_title a {
		font-size: 21px
	}
	.footer_about_text {
		font-size: 13px
	}
}

@media only screen and (max-width:479px) {
	h2 {
		font-size: 24px
	}
	p {
		font-size: 13px
	}
}